@use "./mixin" as mixin;

.container {
  display: flex;

  .highlightClip {
    img {
      width: 68rem;
      height: 40rem;
      object-fit: cover;
      border-radius: 1rem;
      cursor: pointer;
    }
  }

  .otherClips {
    margin-left: 1.3rem;
    min-width: 24rem;
    height: 40rem;
    overflow-y: auto;
  }
}
