@use "./mixin" as mixin;

.container {
  display: flex;

  .highlightClip {
    img {
      width: 68rem;
      height: 40rem;
      object-fit: cover;
      border-radius: 1rem;
      cursor: pointer;
    }
  }

  .otherClips {
    margin-left: 1.3rem;
    min-width: 255px;
    height: 40rem;
    overflow-y: auto;
  }

  .clip {
    position: relative;
    cursor: pointer;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0); // Fully transparent
    z-index: 1; // Ensure it's above the video but below any potential UI elements
  }
}

