@use "./mixin" as mixin;

.container {
  height: 10rem;
  width: 100vw;
  padding: 0 7.2rem;
  display: flex;
  align-items: center;

  .sideline {
    font-size: 5rem;
    font-weight: 300;

    .red {
      color: mixin.$red;
    }
  }

  .searchContainer {
    position: relative;
    margin-left: 3rem;

    .searchIcon {
      width: 3.2rem;
      position: absolute;
      margin: 0.4rem 0 0 1.2rem;
    }

    .searchBar {
      width: 50rem;
      height: 4rem;
      border-radius: 6rem;
      border: 0.35rem solid mixin.$red;
      background: none;
      font-size: 2rem;
      font-weight: 300;
      padding-left: 5rem;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }
}
