@use "./mixin" as mixin;

.container {
  height: 15rem;
  width: mixin.$profile-width;
  box-shadow: 3px 4px 4px 0 rgba(36, 41, 47, 0.25);
  border: 1px solid rgba(36, 41, 47, 0.25);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: translateY(0.5rem);
  }

  .img {
    width: 26rem;
    height: 100%;
    object-fit: cover;
  }

  video {
    width: 26rem;
  }

  .info {
    flex: auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .left {
      flex: auto;
      display: flex;
      flex-direction: column;

      .skills {
        display: flex;
        align-items: center;
        margin-top: 1.5rem;

        p {
          padding: 0.25rem 1.8rem;
          background-color: rgba(201, 8, 42, 0.25);
          font-weight: 300;
          border-radius: 1rem;
          margin-right: 1rem;
          text-wrap: nowrap;
          transition: 0.3s;

          &:hover {
            background-color: rgba(201, 8, 42, 0.4);
          }
        }
      }
    }

    .right {
      width: 35rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0 2rem;

      div {
        display: flex;
        align-items: center;

        .stat {
          font-size: 2.2rem;
          color: mixin.$red;
        }

        .label {
          font-size: 1rem;
          font-weight: 400;
          margin-left: 0.8rem;
          text-wrap: nowrap;
        }
      }
    }
  }
}
